<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather API</title>
</head>
<body>
<h1>Weather Data API</h1>
<p>URL Format: http://127.0.0.1:5000/api/v1/station/data</p>
<p>Temperature for a specific date for a station: http://127.0.0.1:5000/api/v1/10/1990-01-01</p>
<p>Temperature for all dates for a station: http://127.0.0.1:5000/api/v1/10</p>
<p>Temperature for all dates of a specific year for a station: http://127.0.0.1:5000/api/v1/annual/10/1990</p>
<p>{{data|safe}}</p>
</body>
</html>